.App {
    background: url('../../images/galaxies.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    max-width: 2200px;
    max-height: 1600px;
    min-width: 720px;
    min-height: 1280px;
    background-size: auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    justify-content: center;
}

html, body {
    height: 100%;
    overflow: hidden;
}


