.App {
    background: url('../../images/galaxies.JPG');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 1800px;
    height: 1200px;
    background-size: auto;
    overflow: auto;
    top: 0;
    bottom: 0;
    position: relative;
    left: 0;
    right: 0;
    justify-content: center;
}

html, body {
    height: 100%;
    overscroll-behavior: none;
}


